/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require jquery.thumbnailScroller.css
 *= require_tree .
 *= require_self
 */
 body {background-image: url(assets/images/background.png);
  font-family: gibson-regular;

}
.marginz {display: inline-block;
margin-left: 1%;
}

.raisez{display: inline-block;
color: white;
font-size: 20px;
margin-top: 5px;
margin-left: 9px;

}
.inlinez{display: inline-block;}

.scalez {height: 42px;
width: 40px;
}
.appear {display: inline-block;
color: white;
font-size: 40px;
margin-left: 9px;
vertical-align: middle;
font-family: -webkit-pictograph
}
.marg {margin: 3px;
}


.bardim {display: inline-block;
  width: 100%;
height: 30px;
font-size: 14px;
color: white;
background-image: url(assets/images/redbar.png);
border-bottom: 3px solid rgb(192, 0, 0);
border-bottom: 3px solid rgba(192, 192, 192, .2);
-webkit-background-clip: padding-box; /* for Safari */
background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.centertab { margin-left: auto;
margin-right: auto;
}

.align {text-align: center;
padding-top: 5px;
font-size: 12px;

}
.dim {height: 70px;}



.board-margin {
  margin-right: 50%;
}

.board-rad {
  border-radius: 30px / 38px;
}

.board-col-marg {
  margin-left: 18%;
}


.sizingc {
  width: 100%;
/* height: 227px; */
position: absolute;
}
.outerc {
border: 7px solid white
}
.colspacing {margin-top: 12px;}

.overlayz {z-index: 10;
position: relative;
margin-top: 12px;
margin-left: 12px;
width: 40%;
padding-bottom: 8%;
}

.cardim {height: 229px;}

.articlestyle {
background-color: white;
border-bottom: 4px solid gray;
vertical-align: top;
font-size: 12px;
padding-top: 12px;
height:100%;
}

.colspacing2 {margin-top: 45px;}

.headmarg{margin-left: 8%;
  margin-right: 16px;

}

.datesmall {margin-left:6%;
margin-top: 3%;
margin-bottom: 3%;
color: darkgray;
}

.scaleread {margin-left: 33%;
  width: 33%;
}

.dispinl2 {
border: 3px solid white;
}
.reducestv {width: 98.3%;
border: 3px solid white;
margin-top: 1%;
}
.padding0 {padding: 0px;
margin-left: 1.1%;
}
.paddingnone{padding: 0px;}
.tomstyle {width: 96.3%;
border:3px solid white;
}

.colsetting {width: 465px;
height: 321px;
}
.marginzz{margin-right: 2%;}

.mrz{margin-bottom: 5.5%}

.overlay1 {z-index: 10;
position: relative;
margin-top: 11%;
margin-left: 3%;
width: 40%;
}
.positionz{position: absolute;}
.marginrod {margin-left: 7%}
.overlay2 {z-index: 10;
position: relative;
margin-top: 11%;
margin-left: 14%;
width: 32%;}

.overlay3 {z-index: 10;
position: relative;
margin-top: 23%;
margin-left: 20%;
width: 64%;}

.marginsteve {margin-top: 10%;
}

.overlay4 {z-index: 10;
position: relative;
margin-top: 58%;
margin-left: 16%;
width: 70%;}
.colsetting2 {width: 230px;

}

.scrolldim {margin-left: 1%;
height: 258px;
width: 74.6%;}

.backgroundw {background-color: white;
margin-top: 2%;
margin-left: 19.2%;
margin-right: 24%}

.contactm {
  margin-left: 3%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.sizingcon {height: 235px;}

.topmarg {height: 5px;}

.backgroundwhite {background-color: white;
margin-top: 1%;
}
.minbot {width: 26.8%;}
.marginlft {margin-left: 19%;}

input, textarea, select {
  width : 97%;}

.margintp {margin-top: 7%;}
.sizelast {height: 215px;}


.borderbox {
  border: 2px solid white;
  /* background-color: red; */
}

.profilestyle{
  width: 100%;
  border: 3px solid white
}

.profilestylesteve{
  height: 100%;
  border: 3px solid white;
  width: 100%;
  margin-top: 1px;
}

.profilestyletom{
  width: 100%;
  height: 100%;
  border: 3px solid white
}

.lance-overlay{
  z-index: 10;
  margin-bottom: -23%;
  height: 38%;
  left: 3%;
  bottom: 70%;
}

.rod-overlay{
  z-index: 10;
  margin-bottom: -23%;
  height: 38%;
  left: 14%;
  bottom: 70%;
}

.steve-overlay{
  z-index: 10;
  margin-bottom: -37%;
  height: 38%;
  left: 16%;
  bottom: 70%;
}

.tom-overlay{
  z-index: 10;
  margin-bottom: -44%;
  height: 17%;
  left: 8%;
  bottom: 68%;
}

.lance-background {
  background: url(assets/images/lance.png) 0 0 no-repeat;
    background-size: cover;
    -webkit-background-origin: border;
    width: 100%;
    /* height: 100%; */
    display: block;
}

.rod-background {
  background: url(assets/images/rod.png) 0 0 no-repeat;
    background-size: cover;
    -webkit-background-origin: border;
    width: 100%;
    /* height: 100%; */
    display: block;
}

.steve-background {
  background: url(./assets/images/steve.png) 0 0 no-repeat;
    background-size: cover;
    -webkit-background-origin: border;
    width: 100%;
    /* height: 100%; */
    display: block;
}

.tom-background {
  background: url(../assets/images/tom.png) 0 0 no-repeat;
    background-size: cover;
    -webkit-background-origin: border;
    width: 100%;
    /* height: 100%; */
    display: block;
}

.vmiddle-lance {
  width: 100%;
  /* margin-bottom: 37%; */
  padding: 27%;
}

.vmiddle-rod {
  width: 100%;
  /* margin-bottom: 37%; */
  padding: 23.5%;
}

.vmiddle-steve {
  width: 100%;
  /* margin-bottom: 37%; */
  padding: 10.5%;
}

.vmiddle-tom {
  width: 100%;
  /* margin-bottom: 37%; */
  padding: 13.5%;
  margin-top: 47%;
}

.contact-shading{
  border-bottom: 4px solid gray;
}


@media all and (max-width: 767px) {
  .vmiddle-tom {
    width: 100%;
    padding: 19.5%;
    margin-bottom: 37%;
  }
} 