/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require jquery.thumbnailScroller.css
 *= require_tree .
 *= require_self
 */
 body {background-image: url(/assets/images/background.png);
  font-family: gibson-regular;

}
.marginz {display: inline-block;
margin-left: 1%;
}
.rowz {
  margin-left: 400px;
font-size: 0;
padding-top: 10px;
display: block;
}
.raisez{display: inline-block;
color: white;
font-size: 20px;
margin-top: 5px;
margin-left: 9px;

}
.inlinez{display: inline-block;}

.scalez {height: 42px;
width: 40px;
}
.appear {display: inline-block;
color: white;
font-size: 40px;
margin-left: 9px;
vertical-align: middle;
font-family: -webkit-pictograph
}
.marg {margin: 3px;
}

.navrow {
font-size: 0;
margin-top: 10px;
display: block;
margin-left: 1px
}

.bardim {display: inline-block;
  width: 100%;
height: 30px;
font-size: 14px;
color: white;
background-image: url(/assets/images/redbar.png);
border-bottom: 3px solid rgb(192, 0, 0);
border-bottom: 3px solid rgba(192, 192, 192, .2);
-webkit-background-clip: padding-box; /* for Safari */
background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.centertab { margin-left: auto;
margin-right: auto;
}

.align {text-align: center;
padding-top: 5px;
font-size: 12px;

}
.dim {height: 70px;}

/* @media all and (max-width: 723px) {
  .rowz {
    margin-left: 57%;
  }
}
@media all and (max-width: 717px) {
  .rowz {
    margin-left: 228px;
  }
}

@media all and (max-width: 551px) {
  .rowz {
    margin-left: 54px;
  }
} */



/*@media all and (max-width: 535px) {
  .rowz {
    margin-left: 25%;
  }
}*/



.board-margin {
  margin-right: 50%;
}

.board-rad {
  border-radius: 30px / 38px;
}

.board-col-marg {
  margin-left: 18%;
}













.sizingc {
  width: 100%;
/* height: 227px; */
position: absolute;
}
.outerc {
border: 7px solid white
}
.colspacing {margin-top: 12px;}

.overlayz {z-index: 10;
position: relative;
margin-top: 12px;
margin-left: 12px;
width: 40%;
}
.cardim {height: 229px;}

.articlestyle {
background-color: white;
border-bottom: 4px solid gray;
vertical-align: top;
font-size: 12px;
padding-top: 12px;
height:100%;
}

.colspacing2 {margin-top: 45px;}

.headmarg{margin-left: 8%;
  margin-right: 16px;

}

.datesmall {margin-left:6%;
margin-top: 3%;
margin-bottom: 3%;
color: darkgray;
}

.scaleread {margin-left: 33%;
  width: 33%;
}

.dispinl2 {display: inline-block;
width: 47.4%;
border: 3px solid white;

}
.reducestv {width: 98.3%;
border: 3px solid white;
margin-top: 1%;
}
.padding0 {padding: 0px;
margin-left: 1.1%;
}
.paddingnone{padding: 0px;}
.tomstyle {width: 96.3%;
border:3px solid white;
}

.colsetting {width: 465px;
height: 321px;
}
.marginzz{margin-right: 2%;}

.mrz{margin-bottom: 5.5%}

.overlay1 {z-index: 10;
position: relative;
margin-top: 11%;
margin-left: 3%;
width: 40%;
}
.positionz{position: absolute;}
.marginrod {margin-left: 7%}
.overlay2 {z-index: 10;
position: relative;
margin-top: 11%;
margin-left: 14%;
width: 32%;}

.overlay3 {z-index: 10;
position: relative;
margin-top: 23%;
margin-left: 20%;
width: 64%;}

.marginsteve {margin-top: 10%;
}

.overlay4 {z-index: 10;
position: relative;
margin-top: 58%;
margin-left: 16%;
width: 70%;}
.colsetting2 {width: 230px;

}

.scrolldim {margin-left: 1%;
height: 258px;
width: 74.6%;}

.backgroundw {background-color: white;
margin-top: 2%;
margin-left: 19.2%;
margin-right: 24%}

.contactm {margin-left: 3%;

}
.sizingcon {height: 235px;}

.topmarg {height: 5px;}

.backgroundwhite {background-color: white;
margin-top: 1%;
}
.minbot {width: 26.8%;}
.marginlft {margin-left: 19%;}

input, textarea, select {
  width : 97%;}

.margintp {margin-top: 7%;}
.sizelast {height: 215px;}

.skatereduce{
  height: 224px;
}



/* @media screen and (max-width: 1199px) {
  .outerc {
    width: 90.4%;
  }
  .colspacing {
    width: 80%;
  }
  .minbot {
    width: 39.9%;
}
} */


.borderbox {
  border: 2px solid white;
  /* background-color: red; */
}